@CHARSET "ISO-8859-1";
*{
	background-color: #c0c0c0;
	background-image:url("ShelterAppR03Web\src\Documentos\Fondo.png");
	background-position: right top;
	background-attachment: fixed;
}

input {background-color:#FFFFFF;
	
}

h1{font-family: Harlow Solid Italic;
		
}

p {margin-left:300px;;
	
}	
